

//-------------------
// Forward Colors
// When an item pops forward its base colors are cooler to distinguish it
// from the warm gray backgrounds of the canvas layers of the app.
//-------------------
forward1 = rgb(190,190,190)
forward2 = rgb(238,238,238)
forward3 = rgb(247,247,247)
forward4 = rgb(255,255,255)

forwardText1 = rgb(151,151,151)
forwardText2 = rgb(151,151,151)
forwardText3 = rgb(102,102,102)

forwardHover4 = rgb(230,242,255)
forwardSelected4 = rgb(0,127,255)
forwardDisabled4 = rgb(247,247,247)

forwardTextLink = rgb(0,127,255)


//-------------------
// Focus Colors
// The focus area of the page, the working area, the body... 
// uses relatively few background colors. The focus in on text colors,
// status icons and seperators. There are no colors that are unique to this area - 
// except for two overlays that give added emphasis to certain use cases...
//-------------------
focus1 = rgba(0,0,0,.71)
focus2 = rgba(200,145,255,.29)

focusText1 = rgb(255,255,255)


//-------------------
// Canvas Colors
// The background canvas colors are warmer grays to give the app a warm tone and to distinguish
// the canvas layer from the rest of the app. Colors are named from darkest to lightest
//-------------------
canvas1 = rgb(212,211,207)
canvas2 = rgb(227,227,219)
canvas3 = rgb(235,235,228)

canvasHover1 = rgb(225,223,221)
canvasHover3 = rgb(244,243,237)

canvasSelected1 = rgb(201,199,196)
canvasSelected3 = rgb(222,221,212)

canvasText = rgb(119,119,119)


//-------------------
// Text Colors
//-------------------
textColor1 = rgb(51,51,51)
textColor2 = rgb(102,102,102)
textColor3 = rgb(153,153,153)
textColor4 = rgb(204,204,204)

textLink = rgb(0,127,255)
textAlert = rgb(208,2,27)


//-------------------
// Primary Navigation
//-------------------
primaryNav1 = rgb(0,133,178)
primaryNav2 = rgb(90,173,201)
primaryNav3 = rgb(209,209,202)

primaryNavBorder = rgb(158,206,224)


